@charset "UTF-8";
.row {
  margin-left: 0px;
  margin-right: 0px; }

.text-right {
  text-align: right; }

body {
  font-size: 13px;
  font-size: 1.3rem;
  color: #616161; }

ul {
  margin: 0; }

#loader {
  width: 50px;
  height: 50px;
  display: none;
  position: fixed;
  _position: absolute;
  /* IE6対策 */
  top: 50%;
  left: 50%;
  margin-top: -25px;
  /* heightの半分のマイナス値 */
  margin-left: -25px;
  /* widthの半分のマイナス値 */
  z-index: 100; }
  #loader i {
    font-size: 36px;
    font-size: 3.6rem; }

#fade {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #FFFFFF;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50; }

.upload-txt {
  font-family: "Times New Roman", "Hiragino Mincho ProN", Meiryo, "游明朝", YuMincho, serif; }
  .upload-txt h2 {
    font-size: 18px;
    font-size: 1.8rem; }
  .upload-txt p {
    font-size: 14px;
    font-size: 1.4rem; }
    .upload-txt p em {
      color: red;
      font-style: normal; }

.upload-form input {
  margin-bottom: 10px; }

.fileup ul {
  list-style: none; }
  .fileup ul li {
    font-size: 12px;
    font-size: 1.2rem;
    color: #616161; }

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  -moz-transition: opacity ease-in-out 1.5s;
  -o-transition: opacity ease-in-out 1.5s;
  -webkit-transition: opacity ease-in-out 1.5s;
  transition: opacity ease-in-out 1.5s;
  z-index: 1; }
.carousel-fade .carousel-inner .active {
  opacity: 1;
  transition-property: opacity;
  -moz-transition: opacity ease-in-out 1.5s;
  -o-transition: opacity ease-in-out 1.5s;
  -webkit-transition: opacity ease-in-out 1.5s;
  transition: opacity ease-in-out 1.5s;
  z-index: 2; }
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1; }
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }
.carousel-fade .carousel-control {
  z-index: 3; }

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%; }

#container {
  z-index: 1;
  width: 100%;
  position: relative;
  margin-top: 0px; }
  @media screen and (min-width: 481px) {
    #container {
      width: 1280px;
      margin: 40px auto 0; } }
  #container .home_txt {
    margin-top: 30px; }
    #container .home_txt img {
      display: block;
      margin: 0 auto; }
  #container #Header {
    margin: 30px 0 0; }
    @media screen and (max-width: 480px) {
      #container #Header header .messege {
        display: block;
        margin: 0 auto; } }
  @media screen and (max-width: 480px) and (min-width: 321px) {
    #container #Header header .messege {
      width: 196px; } }
    @media screen and (max-width: 480px) {
        #container #Header header .messege img {
          position: absolute;
          top: 10px; } }
  #container header {
    padding: 0; }
    @media screen and (min-width: 481px) {
      #container header {
        width: 317px;
        float: left;
        padding: 0; } }
    #container header .logo img {
      display: block;
      margin: 0 auto 30px; }
      @media screen and (min-width: 481px) {
        #container header .logo img {
          margin: 0 auto 85px; } }
    #container header #Navbar .sp_menu ul li {
      display: block;
      background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 99%, rgba(0, 0, 0, 0.1) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(99%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 99%, rgba(0, 0, 0, 0.1) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 99%, rgba(0, 0, 0, 0.1) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 99%, rgba(0, 0, 0, 0.1) 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 99%, rgba(0, 0, 0, 0.1) 100%);
      /* W3C */
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      border-left: 1px solid rgba(0, 0, 0, 0.15); }
      #container header #Navbar .sp_menu ul li a {
        padding: 16px 15px;
        color: inherit;
        display: block; }
      #container header #Navbar .sp_menu ul li .fa {
        right: 10px;
        position: absolute; }
      #container header #Navbar .sp_menu ul li .left-position {
        position: relative;
        top: 1px;
        left: -2px;
        display: inline-block;
        padding-right: 3px;
        font-size: 15px;
        font-size: 1.5rem; }
    #container header #Navbar #my-navbar #NavbarContent li {
      text-indent: -999px; }
      #container header #Navbar #my-navbar #NavbarContent li:nth-child(1) a:link, #container header #Navbar #my-navbar #NavbarContent li:nth-child(1) a:visited {
        background: url(/images/gmenu-01.svg) center center no-repeat; }
      #container header #Navbar #my-navbar #NavbarContent li:nth-child(1) a:hover {
        background: url(/images/gmenu-01_o.svg) center center no-repeat; }
      #container header #Navbar #my-navbar #NavbarContent li:nth-child(2) a:link, #container header #Navbar #my-navbar #NavbarContent li:nth-child(2) a:visited {
        background: url(/images/gmenu-02.svg) center center no-repeat; }
      #container header #Navbar #my-navbar #NavbarContent li:nth-child(2) a:hover {
        background: url(/images/gmenu-02_o.svg) center center no-repeat; }
      #container header #Navbar #my-navbar #NavbarContent li:nth-child(3) a:link, #container header #Navbar #my-navbar #NavbarContent li:nth-child(3) a:visited {
        background: url(/images/gmenu-03.svg) center center no-repeat; }
      #container header #Navbar #my-navbar #NavbarContent li:nth-child(3) a:hover {
        background: url(/images/gmenu-03_o.svg) center center no-repeat; }
      #container header #Navbar #my-navbar #NavbarContent li:nth-child(4) a:link, #container header #Navbar #my-navbar #NavbarContent li:nth-child(4) a:visited {
        background: url(/images/gmenu-04.svg) center center no-repeat; }
      #container header #Navbar #my-navbar #NavbarContent li:nth-child(4) a:hover {
        background: url(/images/gmenu-04_o.svg) center center no-repeat; }
      #container header #Navbar #my-navbar #NavbarContent li:nth-child(5) a:link, #container header #Navbar #my-navbar #NavbarContent li:nth-child(5) a:visited {
        background: url(/images/gmenu-05.svg) center center no-repeat; }
      #container header #Navbar #my-navbar #NavbarContent li:nth-child(5) a:hover {
        background: url(/images/gmenu-05_o.svg) center center no-repeat; }
      #container header #Navbar #my-navbar #NavbarContent li:nth-child(6) a:link, #container header #Navbar #my-navbar #NavbarContent li:nth-child(6) a:visited {
        background: url(/images/gmenu-06.svg) center center no-repeat; }
      #container header #Navbar #my-navbar #NavbarContent li:nth-child(6) a:hover {
        background: url(/images/gmenu-06_o.svg) center center no-repeat; }
    #container header #Navbar #my-navbar #NavbarContent li.active:nth-child(1) a:link, #container header #Navbar #my-navbar #NavbarContent li.active:nth-child(1) a:visited {
      background: url(/images/gmenu-01_o.svg) center center no-repeat; }
    #container header #Navbar #my-navbar #NavbarContent li.active:nth-child(2) a:link, #container header #Navbar #my-navbar #NavbarContent li.active:nth-child(2) a:visited {
      background: url(/images/gmenu-02_o.svg) center center no-repeat; }
    #container header #Navbar #my-navbar #NavbarContent li.active:nth-child(3) a:link, #container header #Navbar #my-navbar #NavbarContent li.active:nth-child(3) a:visited {
      background: url(/images/gmenu-03_o.svg) center center no-repeat; }
    #container header #Navbar #my-navbar #NavbarContent li.active:nth-child(4) a:link, #container header #Navbar #my-navbar #NavbarContent li.active:nth-child(4) a:visited {
      background: url(/images/gmenu-04_o.svg) center center no-repeat; }
    #container header #Navbar #my-navbar #NavbarContent li.active:nth-child(5) a:link, #container header #Navbar #my-navbar #NavbarContent li.active:nth-child(5) a:visited {
      background: url(/images/gmenu-05_o.svg) center center no-repeat; }
    #container header #Navbar #my-navbar #NavbarContent li.active:nth-child(6) a:link, #container header #Navbar #my-navbar #NavbarContent li.active:nth-child(6) a:visited {
      background: url(/images/gmenu-06_o.svg) center center no-repeat; }
    #container header #Navbar .social-btn {
      margin-top: 50px; }
    #container header #Footer, #container header #Footer-xs {
      margin-top: 20px; }
      #container header #Footer span, #container header #Footer-xs span {
        text-align: center;
        display: block;
        font-size: 11px;
        font-size: 1.1rem;
        color: #A8A8A8; }
    #container header #Footer-xs {
      margin: 10px 0 0;
      padding: 0 0 10px; }
  #container .main_content, #container .food_content {
    float: left; }
  @media screen and (min-width: 481px) {
    #container .main_content {
      width: 900px; } }
  #container .main_content #homeCarousel {
    margin: 0; }
    @media screen and (min-width: 481px) {
      #container .main_content #homeCarousel {
        margin: 156px 0 0; } }
  #container .main_content .messege {
    margin: 30px 0 40px; }
    @media screen and (min-width: 481px) {
      #container .main_content .messege {
        margin: 60px 0; } }
    @media screen and (max-width: 480px) {
      #container .main_content .messege {
        padding-bottom: 50px;
        border-bottom: 1px solid #eeeeee;
        margin: 30px 0 0; } }
    #container .main_content .messege img {
      display: block;
      margin: 0 auto; }
  @media screen and (min-width: 481px) {
    #container .food_content {
      width: 859px; } }
  #container .food_content .page-title {
    padding: 50px 0 20px; }
    @media screen and (min-width: 481px) {
      #container .food_content .page-title {
        padding: 13px 0 32px;
        border-bottom: 1px solid #c5c5c5; } }
    #container .food_content .page-title img {
      display: block;
      margin: 0 auto; }
  #container .food_content article {
    margin-top: 30px; }
    @media screen and (max-width: 480px) {
      #container .food_content article {
        padding: 0 20px;
        margin-top: 20px; } }
    #container .food_content article p {
      width: 90%;
      margin: 0 auto;
      color: #616161;
      font-family: "Times New Roman", "Hiragino Mincho ProN", Meiryo, "游明朝", YuMincho, serif;
      font-size: 12px;
      font-size: 1.2rem;
      line-height: 180%;
      text-align: left; }
      @media screen and (min-width: 481px) {
        #container .food_content article p {
          text-align: center; } }
    @media screen and (min-width: 481px) {
      #container .food_content article #tw-info p {
        text-align: left; } }
    #container .food_content article img {
      display: block;
      margin: 0 auto; }
    #container .food_content article .news-box {
      height: 533px;
      overflow: auto; }
    #container .food_content article .profile_messege {
      line-height: 230%;
      margin-top: 10px;
      margin-bottom: 40px;
      text-align: center; }
    #container .food_content article .profile_txt {
      width: 90%;
      font-size: 11px;
      font-size: 1.1rem;
      text-align: left; }
      @media screen and (max-width: 480px) {
        #container .food_content article .profile_txt {
          margin-bottom: 30px; } }
    @media screen and (max-width: 480px) {
      #container .food_content article.access_content {
        padding-top: 50px;
        border-top: 1px solid #eeeeee;
        padding-bottom: 50px;
        border-bottom: 1px solid #eeeeee; } }
    @media screen and (max-width: 480px) {
      #container .food_content article.access_content iframe {
        display: block;
        margin: 0 auto;
        width: 100%; } }
    #container .food_content article.access_content .access_detai img {
      display: inline-block; }
    #container .food_content article .access_caption {
      display: inline-block;
      margin-bottom: 10px;
      color: #616161;
      font-family: "Times New Roman", "Hiragino Mincho ProN", Meiryo, "游明朝", YuMincho, serif;
      font-size: 12px;
      font-size: 1.2rem; }
      @media screen and (min-width: 481px) {
        #container .food_content article .access_caption {
          margin-top: 10px; } }
    #container .food_content article .access_detail {
      width: 100%;
      margin-top: 20px;
      color: #616161;
      line-height: 180%;
      text-align: left; }
      @media screen and (min-width: 481px) {
        #container .food_content article .access_detail {
          line-height: 180%; } }
      #container .food_content article .access_detail img {
        display: inline-block;
        margin: 0 auto; }
    #container .food_content article .google_maps-btn {
      margin-top: 20px;
      display: block;
      background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 99%, rgba(0, 0, 0, 0.1) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(99%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 99%, rgba(0, 0, 0, 0.1) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 99%, rgba(0, 0, 0, 0.1) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 99%, rgba(0, 0, 0, 0.1) 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 99%, rgba(0, 0, 0, 0.1) 100%);
      /* W3C */
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      border-left: 1px solid rgba(0, 0, 0, 0.15); }
      #container .food_content article .google_maps-btn a {
        padding: 8px 15px;
        color: inherit;
        display: block; }
      #container .food_content article .google_maps-btn .fa {
        right: 10px;
        position: absolute; }
      #container .food_content article .google_maps-btn .left-position {
        position: relative;
        top: 1px;
        left: -2px;
        display: inline-block;
        padding-right: 3px;
        font-size: 15px;
        font-size: 1.5rem; }
    #container .food_content article #accessCarousel {
      position: relative; }
      #container .food_content article #accessCarousel img {
        display: block;
        margin: 0 auto; }
    #container .food_content article .page-title {
      border: none; }
      #container .food_content article .page-title img {
        display: block;
        margin: 0 auto; }
    #container .food_content article .twitter_account {
      text-align: center; }
    @media screen and (min-width: 481px) {
      #container .food_content article.twitter {
        padding: 0 15px; } }
    @media screen and (min-width: 481px) {
      #container .food_content article.facebook {
        left: -45px; } }
    #container .food_content article .info-text .tw_cont {
      font-family: "Times New Roman", "Hiragino Mincho ProN", Meiryo, "游明朝", YuMincho, serif;
      font-size: 12px;
      font-size: 1.2rem;
      color: #616161; }
    #container .food_content article .wine_txt {
      width: 100%;
      text-align: left; }
      @media screen and (min-width: 481px) {
        #container .food_content article .wine_txt {
          text-align: center; } }
    #container .food_content article .wine_cat {
      margin-top: 10px; }
      @media screen and (min-width: 481px) {
        #container .food_content article .wine_cat {
          margin-top: 30px; } }
      #container .food_content article .wine_cat h2 {
        padding-bottom: 16px;
        border-bottom: 1px solid #c5c5c5; }
      #container .food_content article .wine_cat p {
        margin-bottom: 10px;
        font-size: 13px;
        font-size: 1.3rem; }
        #container .food_content article .wine_cat p a {
          color: #616161;
          text-decoration: none; }
          #container .food_content article .wine_cat p a:hover {
            text-decoration: underline; }
    #container .food_content article .cat_last {
      margin-bottom: 20px; }

/*# sourceMappingURL=common.css.map */
