@import "func";
@import "mixin";
@import "bootstrap/variables";



//***************************************************************************



//***************************************************************************

//***************************************************************************
body{
	@include font-size(13);
	color: #616161;
}
ul{
	margin: 0;
}
//***************************

//   loading

//*************************//
#loader {
	width: 50px;
	height: 50px;
	display: none;
	position: fixed;
	_position: absolute; /* IE6対策 */
	top: 50%;
	left: 50%;
	margin-top: -25px; /* heightの半分のマイナス値 */
	margin-left: -25px; /* widthの半分のマイナス値 */
	z-index: 100;
	i{
		@include font-size(36);
	}
}
#fade {
	width: 100%;
	height: 100%;
	display: none;
	background-color: #FFFFFF;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 50;
}
//***************************

//   file upload

//*************************//
.upload-txt{
	font-family: "Times New Roman", "Hiragino Mincho ProN", Meiryo, "游明朝", YuMincho, serif;
				
	h2{
		@include font-size(18);
	}
	p{
		@include font-size(14);
		em{
			color:red;
			font-style:normal;
		}
	}
}
.upload-form{
	input{
		margin-bottom: 10px;
	}
}
.fileup{
	ul{
		list-style: none;
		li{
			@include font-size(12);
			color: #616161;
		}
	}
}
//***************************

//   carousel settting

//*************************//
.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
      -moz-transition: opacity ease-in-out 1.5s;
      -o-transition: opacity ease-in-out 1.5s;
      -webkit-transition: opacity ease-in-out 1.5s;
      transition: opacity ease-in-out 1.5s;
      z-index:1;
    }

    .active {
      opacity: 1;
      transition-property: opacity;
      -moz-transition: opacity ease-in-out 1.5s;
      -o-transition: opacity ease-in-out 1.5s;
      -webkit-transition: opacity ease-in-out 1.5s;
      transition: opacity ease-in-out 1.5s;
      z-index:2;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 3;
  }
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
  height: 100%;
}

//***************************

//   common scss

//*************************//

#container{
	z-index: 1;
	width:100%;
	position: relative;
	margin-top:0px;
	@media screen and (min-width: $screen-sm) {
		width: 1280px;
		margin:40px auto 0;
	}
	.home_txt{
		margin-top: 30px;
		img{
			display: block;
			margin: 0 auto;
		}
	}
	#Header{
		margin:30px 0 0;
		header{
			.messege{
				@media screen and (max-width: $screen-xs) {
					display: block;
					margin: 0 auto;
					@media screen and (min-width: 321px) {
						width: 196px;
					}
					img{
						position: absolute;
						top: 10px;
					}
				}
			}
		}
	}
	header{
		padding:0;
		@media screen and (min-width: $screen-sm) {
			width: 317px;
			float: left;
			padding:0;
		}
		.logo{
			img{
				display: block;
				margin:0 auto 30px;
				@media screen and (min-width: $screen-sm) {
					margin:0 auto 85px;
				}
			}
		}
		#Navbar{
			.sp_menu{
				ul{
					li{
						display: block;
						//text-align: center;	
						background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%); /* IE10+ */
						background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%); /* W3C */
						
						border-bottom: 1px solid rgba(0, 0, 0, 0.15);
						border-left: 1px solid rgba(0, 0, 0, 0.15);
						a{
							//text-align: center;
							padding: 16px 15px;
							color: inherit;
							display: block;
						}
						.fa{
							right: 10px;
							position: absolute;
						}
						.left-position{
							position: relative;
							top: 1px;
							left: -2px;
							display: inline-block;
							padding-right: 3px;
							@include font-size(15);
						}
					}
				}
			}
			#my-navbar{
				#NavbarContent{
					li{
						text-indent: -999px;
						&:nth-child(1){
							a:link,a:visited{
								background:url(/images/gmenu-01.svg) center center no-repeat;
							}
							 a:hover{
							 	background:url(/images/gmenu-01_o.svg) center center no-repeat;
							 }
						}
						&:nth-child(2){
							a:link,a:visited{
								background:url(/images/gmenu-02.svg) center center no-repeat;
							}
							 a:hover{
							 	background:url(/images/gmenu-02_o.svg) center center no-repeat;
							 }
						}
						&:nth-child(3){
							a:link,a:visited{
								background:url(/images/gmenu-03.svg) center center no-repeat;
							}
							 a:hover{
							 	background:url(/images/gmenu-03_o.svg) center center no-repeat;
							 }
						}
						&:nth-child(4){
							a:link,a:visited{
								background:url(/images/gmenu-04.svg) center center no-repeat;
							}
							 a:hover{
							 	background:url(/images/gmenu-04_o.svg) center center no-repeat;
							 }
						}
						&:nth-child(5){
							a:link,a:visited{
								background:url(/images/gmenu-05.svg) center center no-repeat;
							}
							 a:hover{
							 	background:url(/images/gmenu-05_o.svg) center center no-repeat;
							 }
						}
						&:nth-child(6){
							a:link,a:visited{
								background:url(/images/gmenu-06.svg) center center no-repeat;
							}
							 a:hover{
							 	background:url(/images/gmenu-06_o.svg) center center no-repeat;
							 }
						}
					}
					li.active{
						&:nth-child(1){
							a:link,a:visited{
								background:url(/images/gmenu-01_o.svg) center center no-repeat;
							}
						}
						&:nth-child(2){
							a:link,a:visited{
								background:url(/images/gmenu-02_o.svg) center center no-repeat;
							}
						}
						&:nth-child(3){
							a:link,a:visited{
								background:url(/images/gmenu-03_o.svg) center center no-repeat;
							}
						}
						&:nth-child(4){
							a:link,a:visited{
								background:url(/images/gmenu-04_o.svg) center center no-repeat;
							}
						}
						&:nth-child(5){
							a:link,a:visited{
								background:url(/images/gmenu-05_o.svg) center center no-repeat;
							}
						}
						&:nth-child(6){
							a:link,a:visited{
								background:url(/images/gmenu-06_o.svg) center center no-repeat;
							}
						}
					}
				}
			}//navbarContent
			.social-btn{
				margin-top: 50px;
			}
		}//#Navbar
		#Footer,#Footer-xs{
			margin-top: 20px;
			span{
				text-align: center;
				display: block;
				@include font-size(11);
				color: #A8A8A8;
			}
		}//#Footer
		#Footer-xs{
			margin: 10px 0 0;
			padding:0 0 10px;
		}
	}//header
	.main_content, .food_content{
		float: left;
	} 
	.main_content{
		@media screen and (min-width: $screen-sm) {
			width:900px;
		}
		#homeCarousel{
			@media screen and (min-width: $screen-sm) {
				margin: 156px 0 0;
			}
			margin: 0;
		}
		.messege{
			@media screen and (min-width: $screen-sm) {
				margin: 60px 0;
			}

			margin: 30px 0 40px;
			@media screen and (max-width: $screen-xs) {
				padding-bottom: 50px;
				border-bottom: 1px solid #eeeeee;
				margin: 30px 0 0;
			}
			img{
				display:block;
				margin: 0 auto;
			}
		}
	}
	.food_content{
		@media screen and (min-width: $screen-sm) {
			width:859px;
		}
		
		//padding:0 30px;
		.page-title{
			padding:50px 0 20px;
			@media screen and (min-width: $screen-sm) {
				padding:13px 0 32px;
				border-bottom: 1px solid #c5c5c5;
			}
			img{
				display: block;
				margin: 0 auto;
			}
		}
		article{
			margin-top: 30px; 
			@media screen and (max-width: $screen-xs) {
				padding:0 20px;
				margin-top: 20px;
			}
			p{
				width: 90%;
				margin: 0 auto;
				color: #616161;
				font-family: "Times New Roman", "Hiragino Mincho ProN", Meiryo, "游明朝", YuMincho, serif;
				@include font-size(12);
				line-height: 180%;
				text-align: left;
				@media screen and (min-width: $screen-sm) {
					text-align: center;
				}
			}
			#tw-info{
				p{
					@media screen and (min-width: $screen-sm) {
						text-align: left;
					}
				}
			}
			img{
				display: block;
				margin: 0 auto;
			}
			.news-box{
				height: 533px;
				overflow: auto;
			}
			.profile_messege{
				line-height: 230%;
				margin-top:10px;
				margin-bottom:40px;
				text-align: center;
			}
			.profile_txt{
				width: 90%;
				@include font-size(11);
				text-align: left;
				@media screen and (max-width: $screen-xs) {
					margin-bottom: 30px;
				}
			}
			&.access_content{
				@media screen and (max-width: $screen-xs) {
					padding-top: 50px;
					border-top: 1px solid #eeeeee;
					padding-bottom: 50px;
					border-bottom: 1px solid #eeeeee;
				}
				iframe{
					@media screen and (max-width: $screen-xs) {
						display: block;
						margin:0 auto;
						width: 100%;
					}
				}
				.access_detai{
					img{
						display: inline-block;
					}
				}
			}
			.access_caption{
				display: inline-block;
				margin-bottom:10px;
				@media screen and (min-width: $screen-sm) {
					margin-top:10px;
				}
				color: #616161;
				font-family: "Times New Roman", "Hiragino Mincho ProN", Meiryo, "游明朝", YuMincho, serif;
				@include font-size(12);
			}
			.access_detail{
				width: 100%;
				margin-top:20px;
				color: #616161;
				@media screen and (min-width: $screen-sm) {
					line-height: 180%;
				}
				line-height: 180%;
				text-align: left;
				img{
					display: inline-block;
					margin: 0 auto;
				}
			}
			.google_maps-btn{
				margin-top:20px;
				display: block;
				//text-align: center;	
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%); /* IE10+ */
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%); /* W3C */
				
				border-bottom: 1px solid rgba(0, 0, 0, 0.15);
				border-left: 1px solid rgba(0, 0, 0, 0.15);
				a{
					//text-align: center;
					padding: 8px 15px;
					color: inherit;
					display: block;
				}
				.fa{
					right: 10px;
					position: absolute;
				}
				.left-position{
					position: relative;
					top: 1px;
					left: -2px;
					display: inline-block;
					padding-right: 3px;
					@include font-size(15);
				}
			}
			#accessCarousel{
				position: relative;
				img{
					display: block;
					margin: 0 auto;
				}
			}
			.page-title{
				border:none; 
				img{
					display: block;
					margin: 0 auto;
				}
			}
			.twitter_account{
				text-align: center;
			}
			&.twitter{
				@media screen and (min-width: $screen-sm) {
					padding:0 15px;
				}
			}
			&.facebook{
				@media screen and (min-width: $screen-sm) {
					left:-45px;
				}
			}
			.info-text{
				.tw_cont{
					font-family: "Times New Roman", "Hiragino Mincho ProN", Meiryo, "游明朝", YuMincho, serif;
					@include font-size(12);
					color:#616161;
				}
			}
			.wine_txt{
				width: 100%;
				text-align: left;
				@media screen and (min-width: $screen-sm) {
					text-align: center;
				}
			}
			.wine_cat{
				margin-top: 10px;
				@media screen and (min-width: $screen-sm) {
					margin-top: 30px;
				}
				h2{
					padding-bottom: 16px;
					border-bottom: 1px solid #c5c5c5;
				}
				p{
					margin-bottom: 10px;
					@include font-size(13);
					a{
						color:#616161;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
			.cat_last{
				margin-bottom: 20px;
			}
		}//article

	}
}