<div class="hidden-xs logo">
	<img src="/images/logo.png" height="225">
</div>
<header class="visible-xs">
	<div class="logo col-xs-4">
		<img src="/images/logo.png" height="83">
	</div>
	<div class="col-xs-8">
		<div class="messege">
			<img src="images/home_messege-xs.svg" height="55" alt="Welcome to my home. Have a glass of  wine. ">
		</div>
	</div>
</header>
