<nav class="navbar navbar-default navbar-static-top hidden-xs"> 
  <div class="collapse navbar-collapse" id="my-navbar">
   <ul class="nav" id="NavbarContent">
   </ul>
  </div>
  <div class="social-btn">
    <ul class="col-sm-offset-4 col-sm-4">
      <li class="col-sm-offset-1 col-sm-5"><a href="https://www.facebook.com/waon.minamiazabu" target="_blank"><img src="images/icon-facebook.png" height="33"></a></li>
      <li class="col-sm-5"><a data-url="http://waon-minamiazabu.com" href="https://twitter.com/waonminamiazabu" class="twitter-share-button" data-lang="ja" data-count="vertical" data-dnt="true" target="_blank"><img src="images/icon-twitter.png" height="32"></a></li>
    </ul>
  </div>
</nav>

<nav class="sp_menu visible-xs">
        <ul class="row">
          <li class="col-xs-6"><a href="tel:0354394170"><span class="glyphicon glyphicon-earphone"></span>&nbsp;03・5439・4170<i class="fa fa-angle-double-right"></i></a></li>
          <li class="col-xs-6"><a href="https://goo.gl/maps/9Cd51" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;Google Mpas<i class="fa fa-angle-double-right"></i></a></li>

          <li class="col-xs-6"><a href="index.html" class="scroll_to_anchor">Home<i class="fa fa-angle-double-right"></i></a></li>
          <li class="col-xs-6"><a href="wine.html" class="scroll_to_anchor">Wine<i class="fa fa-angle-double-right"></i></a></li>
          <li class="col-xs-6"><a href="food.html" class="scroll_to_anchor">Food<i class="fa fa-angle-double-right"></i></a></li>
          <li class="col-xs-6"><a href="profile.html" class="scroll_to_anchor">Profile<i class="fa fa-angle-double-right"></i></a></li>

          <li class="col-xs-6"><a data-url="http://waon-minamiazabu.com" href="https://twitter.com/waonminamiazabu" class="twitter-share-button" data-lang="ja" data-count="vertical" data-dnt="true" target="_blank"><span class="fa fa-twitter left-position"></span>Twitter<i class="fa fa-angle-double-right"></i></a></li>

          <li class="col-xs-6"><a href="https://www.facebook.com/waon.minamiazabu" target="_blank" class="facebook"><span class="fa fa-facebook-official left-position"></span>Facebook<i class="fa fa-angle-double-right"></i></a></li>
        </ul>
      </nav>